Github Commit-A1YRG7GqFs7uSJ8aoVTpN.json
[
  {
    "updatedAt": "2026-01-30T19:06:26.862Z",
    "createdAt": "2026-01-30T16:51:10.640Z",
    "id": "A1YRG7GqFs7uSJ8aoVTpN",
    "name": "Github Commit",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          688,
          608
        ],
        "id": "de8b00d3-ca8c-4d33-97b3-8e3909c2c782",
        "name": "n8n",
        "credentials": {
          "n8nApi": {
            "id": "WTUDPMjv8spQtuW2",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n    {\n\t\t\"fieldLabel\": \"Select a project\",\n\t\t\"fieldType\": \"dropdown\",\n\t\t\"fieldOptions\": {\n\t\t\t\"values\":{{ JSON.stringify($json.values.map(item=>({'option':item.name}))) }}\n\t\t},\n\t\t\"requiredField\": true\n\t}\n]",
          "options": {
            "formTitle": "Select a Project for version control"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          1040,
          672
        ],
        "id": "14112ccd-4bf8-4b5c-86f7-4a1466d02aae",
        "name": "Form",
        "webhookId": "44f6854d-4cda-4b7d-8642-ad893354d296"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('On form submission').item.json.formQueryParameters && $('On form submission').item.json.formQueryParameters.id != null  }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "5a839b58-075d-4537-ad22-2572bdef2c44"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "selected_project"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          512,
          432
        ],
        "id": "3d0a7660-245d-4822-bd49-d8c45d149dc0",
        "name": "Switch"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2514ed01-ff5d-43bb-90c1-a676c7af0a75",
                "leftValue": "={{ $json.isArchived }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          800,
          672
        ],
        "id": "3a256104-e4b1-4ee6-a7c5-edf15003bc39",
        "name": "Filter"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Project Not Foound",
          "completionMessage": "=Your project  \"{{ $('On form submission').item.json.formQueryParameters.name }}\" doesn't exist.",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          1600,
          544
        ],
        "id": "378738b7-d0b9-4764-be4f-466cb0b15433",
        "name": "Project not found",
        "webhookId": "73c34803-3b2e-49f8-b569-2d468ad4e2b9"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "da7a365b-0d75-464d-918e-ac6af190146d",
                "name": "id",
                "value": "={{ $('Find by project id').item.json.id }}",
                "type": "string"
              },
              {
                "id": "e4d6ee3d-613b-47d4-9e06-132de75dd609",
                "name": "name",
                "value": "={{ $('Find by project id').item.json.name }}",
                "type": "string"
              },
              {
                "id": "0ab5fac1-354b-4cea-bc71-fb62a153cefe",
                "name": "github_file_name",
                "value": "={{ $('Find by project id').item.json.name }}-{{ $('Find by project id').item.json.id }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1920,
          368
        ],
        "id": "f9024889-b5e3-4ef5-8f64-4eb3e0f4144a",
        "name": "Workflow Values"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Commit the new workflow?",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Yes"
                    },
                    {
                      "option": "No"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "=New project found",
            "formDescription": "=Project: \"{{$('Workflow Values').item.json.github_file_name}}\"\n\nThe project is not found in Github. Want to start a new project commit?"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2320,
          688
        ],
        "id": "bc03f7ce-4902-4e62-8479-124207bc62d9",
        "name": "Commit as New",
        "webhookId": "c476e4ea-2b70-4185-8b0b-f45065a2b6a2"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['Commit the new workflow?'] }}",
                      "rightValue": "Yes",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b814b0e5-b09d-47eb-838f-f8d8b77f5047"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2480,
          688
        ],
        "id": "f3970ed1-c9f9-4d7b-86e2-61bb5bbb3365",
        "name": "Is commit new"
      },
      {
        "parameters": {
          "operation": "toJson",
          "options": {
            "format": true
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1600,
          368
        ],
        "id": "093e12bb-2511-49a8-ae58-20c5fb616762",
        "name": "JSON File"
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1760,
          368
        ],
        "id": "3a265d18-a921-482d-b49e-bf1e40879aba",
        "name": "To Base64"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "AndreffSantos",
            "mode": "list",
            "cachedResultName": "AndreffSantos",
            "cachedResultUrl": "https://github.com/AndreffSantos"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_workflows",
            "mode": "list",
            "cachedResultName": "n8n_workflows",
            "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
          },
          "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
          "fileContent": "={{ $('To Base64').item.json.data }}",
          "commitMessage": "={{ $json['Commit comment'] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2848,
          272
        ],
        "id": "5ff0129a-927e-4392-b72a-dd30a58a1676",
        "name": "Update File",
        "webhookId": "7807fe16-db54-4c7d-936b-d61e7909061a",
        "credentials": {
          "githubApi": {
            "id": "vg6rOJdDc5Jg2q0f",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "AndreffSantos",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_workflows",
            "mode": "list",
            "cachedResultName": "n8n_workflows",
            "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
          },
          "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
          "asBinaryProperty": false,
          "additionalParameters": {
            "reference": ""
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2320,
          368
        ],
        "id": "7a969272-493d-4a59-9cf0-b220ff06d121",
        "name": "Download File",
        "webhookId": "2627f6eb-e6f9-44d7-b943-508c8472f316",
        "credentials": {
          "githubApi": {
            "id": "vg6rOJdDc5Jg2q0f",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "99923f83-9a4d-467e-830e-33d7449149fb",
                "leftValue": "={{ $('Agg. to Array').item.json.github_file_names }}",
                "rightValue": "={{ $json.github_file_name }}",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2080,
          368
        ],
        "id": "ab42f91d-d834-43ab-8972-c98564fcd76a",
        "name": "Found in github"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "No Update Detected",
          "completionMessage": "No change is detected.",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2704,
          448
        ],
        "id": "153f0684-b1ed-4eec-98e4-7a500de2ba52",
        "name": "No update detected",
        "webhookId": "1014f819-d761-42f4-afbc-f3968ad7c44a"
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $json.id}}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          1392,
          464
        ],
        "id": "b96096f2-7020-4dba-9cc2-87fffc31f2fb",
        "name": "Find by project id",
        "alwaysOutputData": false,
        "retryOnFail": false,
        "credentials": {
          "n8nApi": {
            "id": "WTUDPMjv8spQtuW2",
            "name": "n8n account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "values",
          "include": "specifiedFields",
          "fieldsToInclude": "id, name",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          928,
          720
        ],
        "id": "f168b645-8b4b-4b9f-8e33-78a568e91882",
        "name": "Option aggregate"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst all_projects = $('Option aggregate').first().json.values;\nconst nameToFind = $input.first().json['Select a project']; // Replace with the name you want to find\nconst found = all_projects.find(item => item.name === nameToFind);\nreturn [{ json: { id: found ? found.id : null } }];\n\n\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          592
        ],
        "id": "255d8221-f6c2-47bb-bdb8-3a8f84b35cac",
        "name": "Selected id"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fffbcd0c-4f17-4634-a79e-33ff6fb213e7",
                "name": "id",
                "value": "={{ $('On form submission').item.json.formQueryParameters.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          272
        ],
        "id": "2b54f394-4fcc-49df-861b-5fd464aaafd9",
        "name": "Pass in id"
      },
      {
        "parameters": {
          "formTitle": "Commit workflow changes",
          "formDescription": "=Commit your workflow changes into Github",
          "options": {
            "appendAttribution": false,
            "buttonLabel": "Next",
            "path": "c4f5be11-23ba-4c44-a3e9-1b88fcb60cd6",
            "ignoreBots": true
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          0,
          432
        ],
        "id": "0c9683b8-a8cc-45f6-9815-215382bffca4",
        "name": "On form submission",
        "webhookId": "c4f5be11-23ba-4c44-a3e9-1b88fcb60cd6"
      },
      {
        "parameters": {
          "content": "## Click [here](https://n8n.srv1312401.hstgr.cloud/form/c4f5be11-23ba-4c44-a3e9-1b88fcb60cd6) to commit change ",
          "height": 140,
          "width": 440,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          16
        ],
        "typeVersion": 1,
        "id": "f88b48b6-5cab-40d8-a375-fc2f9382a9ab",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Get all files from Github",
          "height": 260,
          "width": 320,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          144,
          352
        ],
        "typeVersion": 1,
        "id": "82b10fc5-57ca-4965-9580-30348c63553b",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "AndreffSantos",
            "mode": "list",
            "cachedResultName": "AndreffSantos",
            "cachedResultUrl": "https://github.com/AndreffSantos"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_workflows",
            "mode": "list",
            "cachedResultName": "n8n_workflows",
            "cachedResultUrl": "https://github.com/AndreffSantos/n8n_workflows"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          160,
          432
        ],
        "id": "c177cfda-7289-412d-bafc-4fd3eb73f80d",
        "name": "GIthub get all",
        "webhookId": "171d0104-1b96-4953-bfb3-18821c7fd7d2",
        "alwaysOutputData": false,
        "credentials": {
          "githubApi": {
            "id": "vg6rOJdDc5Jg2q0f",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "github_file_names",
          "include": "specifiedFields",
          "fieldsToInclude": "name",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          320,
          432
        ],
        "id": "8b4eb1ca-acd8-448c-96c2-5d6f1f9fa3be",
        "name": "Agg. to Array"
      },
      {
        "parameters": {
          "content": "## With designated workflow id\nFrom form's GET argument",
          "height": 260,
          "width": 640
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          672,
          208
        ],
        "typeVersion": 1,
        "id": "53bb4b89-4ef4-4bf7-97bc-07b8dfb43699",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Without a designated workflow id\nFrom form's GET argument",
          "height": 360,
          "width": 640,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          672,
          528
        ],
        "typeVersion": 1,
        "id": "148d1280-0bd0-42a1-b675-28e517d369aa",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Prepare the latest workflow",
          "height": 440,
          "width": 660,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1568,
          288
        ],
        "typeVersion": 1,
        "id": "c93111bc-9ef0-4dc7-bcbb-caab791ce7d4",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "AndreffSantos",
            "mode": "list",
            "cachedResultName": "AndreffSantos",
            "cachedResultUrl": "https://github.com/AndreffSantos"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_workflows",
            "mode": "list",
            "cachedResultName": "n8n_workflows",
            "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
          },
          "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
          "fileContent": "={{ $('To Base64').item.json.data }}",
          "commitMessage": "={{ $json['Commit comment'] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2832,
          688
        ],
        "id": "9bda2b43-9595-4e99-b07e-51ae53a44e7a",
        "name": "Commit new workflow",
        "webhookId": "17c8a323-88d7-4475-a062-c217639b1a66",
        "credentials": {
          "githubApi": {
            "id": "vg6rOJdDc5Jg2q0f",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "fd9b7654-3ec7-4e91-9607-9e0caabbffdf",
                "leftValue": "={{ $json.content.replace(/\\n/g, '') }}",
                "rightValue": "={{ $('To Base64').item.json.data }}",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2512,
          368
        ],
        "id": "44788fcc-d2e3-4e2e-bd1e-3fe663bd6f98",
        "name": "Check any update"
      },
      {
        "parameters": {
          "content": "## Update workflow if any",
          "height": 380,
          "width": 940,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2288,
          208
        ],
        "typeVersion": 1,
        "id": "f46f34f3-5463-4f24-931a-5f83c63c00fa",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Commit new workflow",
          "height": 320,
          "width": 940,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2288,
          608
        ],
        "typeVersion": 1,
        "id": "173894bc-51e5-4a06-88cd-61e72d7baa45",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Commit Successful",
          "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          3008,
          272
        ],
        "id": "830cea6e-9fee-4bd2-856a-bc1962433bc6",
        "name": "Update successful",
        "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Commit Completed Successfully",
          "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          3024,
          688
        ],
        "id": "458f4705-bce1-4767-8042-07f32df75e50",
        "name": "New Workflow Commit Successfully",
        "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Commit comment",
                "fieldType": "textarea",
                "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "Commit workflow",
            "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2640,
          688
        ],
        "id": "f051f263-e81e-4552-b862-59e6ccd452f5",
        "name": "Comment for new workflow",
        "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Commit comment",
                "fieldType": "textarea",
                "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "Commit workflow",
            "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}",
            "buttonLabel": "Submit"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          2688,
          272
        ],
        "id": "f1f20419-0887-48c4-a12f-c34eedf7b0b3",
        "name": "Comment for commit",
        "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
      },
      {
        "parameters": {
          "content": "nota de nova verão"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1328,
          -192
        ],
        "typeVersion": 1,
        "id": "6b1630db-0e94-4f83-8200-9ba79f8775bc",
        "name": "Sticky Note7"
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Pass in id",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Option aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Values": {
        "main": [
          [
            {
              "node": "Found in github",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit as New": {
        "main": [
          [
            {
              "node": "Is commit new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is commit new": {
        "main": [
          [
            {
              "node": "Comment for new workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON File": {
        "main": [
          [
            {
              "node": "To Base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To Base64": {
        "main": [
          [
            {
              "node": "Workflow Values",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File": {
        "main": [
          [
            {
              "node": "Check any update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Found in github": {
        "main": [
          [
            {
              "node": "Download File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Commit as New",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find by project id": {
        "main": [
          [
            {
              "node": "JSON File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Project not found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Form": {
        "main": [
          [
            {
              "node": "Selected id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Option aggregate": {
        "main": [
          [
            {
              "node": "Form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Selected id": {
        "main": [
          [
            {
              "node": "Find by project id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pass in id": {
        "main": [
          [
            {
              "node": "Find by project id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "GIthub get all",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GIthub get all": {
        "main": [
          [
            {
              "node": "Agg. to Array",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agg. to Array": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit new workflow": {
        "main": [
          [
            {
              "node": "New Workflow Commit Successfully",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check any update": {
        "main": [
          [
            {
              "node": "Comment for commit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No update detected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update File": {
        "main": [
          [
            {
              "node": "Update successful",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Comment for new workflow": {
        "main": [
          [
            {
              "node": "Commit new workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Comment for commit": {
        "main": [
          [
            {
              "node": "Update File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "4b9069dc-7ac5-40ee-ab41-aef9680568fb",
    "activeVersionId": "05b58043-00d5-48de-bf95-fc5ccaf31092",
    "versionCounter": 61,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-01-30T16:51:10.642Z",
        "createdAt": "2026-01-30T16:51:10.642Z",
        "role": "workflow:owner",
        "workflowId": "A1YRG7GqFs7uSJ8aoVTpN",
        "projectId": "VCOZCujOBOB72ngP",
        "project": {
          "updatedAt": "2026-01-30T16:38:37.039Z",
          "createdAt": "2026-01-30T16:36:00.695Z",
          "id": "VCOZCujOBOB72ngP",
          "name": "Andre Santos <kronstor10@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "4e322802-0dbb-4561-96dc-cd99856363e7",
          "projectRelations": [
            {
              "updatedAt": "2026-01-30T16:36:00.695Z",
              "createdAt": "2026-01-30T16:36:00.695Z",
              "userId": "4e322802-0dbb-4561-96dc-cd99856363e7",
              "projectId": "VCOZCujOBOB72ngP",
              "user": {
                "updatedAt": "2026-01-30T18:16:19.694Z",
                "createdAt": "2026-01-30T16:36:00.396Z",
                "id": "4e322802-0dbb-4561-96dc-cd99856363e7",
                "email": "kronstor10@gmail.com",
                "firstName": "Andre",
                "lastName": "Santos",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2026-01-30T16:38:43.813Z",
                  "personalization_survey_n8n_version": "2.4.8"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "A1YRG7GqFs7uSJ8aoVTpN",
                  "userActivatedAt": 1769796979686
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-01-30",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-01-30T16:51:08.943Z",
        "createdAt": "2026-01-30T16:51:08.943Z",
        "id": "NzW6XHrymLScnpLZ",
        "name": "Prod"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-01-30T18:15:55.000Z",
      "createdAt": "2026-01-30T18:14:31.404Z",
      "versionId": "05b58043-00d5-48de-bf95-fc5ccaf31092",
      "workflowId": "A1YRG7GqFs7uSJ8aoVTpN",
      "nodes": [
        {
          "parameters": {
            "filters": {},
            "requestOptions": {}
          },
          "type": "n8n-nodes-base.n8n",
          "typeVersion": 1,
          "position": [
            688,
            608
          ],
          "id": "de8b00d3-ca8c-4d33-97b3-8e3909c2c782",
          "name": "n8n",
          "credentials": {
            "n8nApi": {
              "id": "WTUDPMjv8spQtuW2",
              "name": "n8n account"
            }
          }
        },
        {
          "parameters": {
            "defineForm": "json",
            "jsonOutput": "=[\n    {\n\t\t\"fieldLabel\": \"Select a project\",\n\t\t\"fieldType\": \"dropdown\",\n\t\t\"fieldOptions\": {\n\t\t\t\"values\":{{ JSON.stringify($json.values.map(item=>({'option':item.name}))) }}\n\t\t},\n\t\t\"requiredField\": true\n\t}\n]",
            "options": {
              "formTitle": "Select a Project for version control"
            }
          },
          "type": "n8n-nodes-base.form",
          "typeVersion": 1,
          "position": [
            1040,
            672
          ],
          "id": "14112ccd-4bf8-4b5c-86f7-4a1466d02aae",
          "name": "Form",
          "webhookId": "44f6854d-4cda-4b7d-8642-ad893354d296"
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $('On form submission').item.json.formQueryParameters && $('On form submission').item.json.formQueryParameters.id != null  }}",
                        "rightValue": "",
                        "operator": {
                          "type": "boolean",
                          "operation": "true",
                          "singleValue": true
                        },
                        "id": "5a839b58-075d-4537-ad22-2572bdef2c44"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "selected_project"
                }
              ]
            },
            "options": {
              "fallbackOutput": "extra"
            }
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.2,
          "position": [
            512,
            432
          ],
          "id": "3d0a7660-245d-4822-bd49-d8c45d149dc0",
          "name": "Switch"
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "id": "2514ed01-ff5d-43bb-90c1-a676c7af0a75",
                  "leftValue": "={{ $json.isArchived }}",
                  "rightValue": "",
                  "operator": {
                    "type": "boolean",
                    "operation": "false",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.filter",
          "typeVersion": 2.2,
          "position": [
            800,
            672
          ],
          "id": "3a256104-e4b1-4ee6-a7c5-edf15003bc39",
          "name": "Filter"
        },
        {
          "parameters": {
            "operation": "completion",
            "completionTitle": "Project Not Foound",
            "completionMessage": "=Your project  \"{{ $('On form submission').item.json.formQueryParameters.name }}\" doesn't exist.",
            "options": {}
          },
          "type": "n8n-nodes-base.form",
          "typeVersion": 1,
          "position": [
            1600,
            544
          ],
          "id": "378738b7-d0b9-4764-be4f-466cb0b15433",
          "name": "Project not found",
          "webhookId": "73c34803-3b2e-49f8-b569-2d468ad4e2b9"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "da7a365b-0d75-464d-918e-ac6af190146d",
                  "name": "id",
                  "value": "={{ $('Find by project id').item.json.id }}",
                  "type": "string"
                },
                {
                  "id": "e4d6ee3d-613b-47d4-9e06-132de75dd609",
                  "name": "name",
                  "value": "={{ $('Find by project id').item.json.name }}",
                  "type": "string"
                },
                {
                  "id": "0ab5fac1-354b-4cea-bc71-fb62a153cefe",
                  "name": "github_file_name",
                  "value": "={{ $('Find by project id').item.json.name }}-{{ $('Find by project id').item.json.id }}.json",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            1920,
            368
          ],
          "id": "f9024889-b5e3-4ef5-8f64-4eb3e0f4144a",
          "name": "Workflow Values"
        },
        {
          "parameters": {
            "formFields": {
              "values": [
                {
                  "fieldLabel": "Commit the new workflow?",
                  "fieldType": "dropdown",
                  "fieldOptions": {
                    "values": [
                      {
                        "option": "Yes"
                      },
                      {
                        "option": "No"
                      }
                    ]
                  },
                  "requiredField": true
                }
              ]
            },
            "options": {
              "formTitle": "=New project found",
              "formDescription": "=Project: \"{{$('Workflow Values').item.json.github_file_name}}\"\n\nThe project is not found in Github. Want to start a new project commit?"
            }
          },
          "type": "n8n-nodes-base.form",
          "typeVersion": 1,
          "position": [
            2320,
            688
          ],
          "id": "bc03f7ce-4902-4e62-8479-124207bc62d9",
          "name": "Commit as New",
          "webhookId": "c476e4ea-2b70-4185-8b0b-f45065a2b6a2"
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json['Commit the new workflow?'] }}",
                        "rightValue": "Yes",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "id": "b814b0e5-b09d-47eb-838f-f8d8b77f5047"
                      }
                    ],
                    "combinator": "and"
                  }
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.2,
          "position": [
            2480,
            688
          ],
          "id": "f3970ed1-c9f9-4d7b-86e2-61bb5bbb3365",
          "name": "Is commit new"
        },
        {
          "parameters": {
            "operation": "toJson",
            "options": {
              "format": true
            }
          },
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [
            1600,
            368
          ],
          "id": "093e12bb-2511-49a8-ae58-20c5fb616762",
          "name": "JSON File"
        },
        {
          "parameters": {
            "operation": "binaryToPropery",
            "options": {}
          },
          "type": "n8n-nodes-base.extractFromFile",
          "typeVersion": 1,
          "position": [
            1760,
            368
          ],
          "id": "3a265d18-a921-482d-b49e-bf1e40879aba",
          "name": "To Base64"
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "edit",
            "owner": {
              "__rl": true,
              "value": "AndreffSantos",
              "mode": "list",
              "cachedResultName": "AndreffSantos",
              "cachedResultUrl": "https://github.com/AndreffSantos"
            },
            "repository": {
              "__rl": true,
              "value": "n8n_workflows",
              "mode": "list",
              "cachedResultName": "n8n_workflows",
              "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
            },
            "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
            "fileContent": "={{ $('To Base64').item.json.data }}",
            "commitMessage": "={{ $json['Commit comment'] }}"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            2848,
            272
          ],
          "id": "5ff0129a-927e-4392-b72a-dd30a58a1676",
          "name": "Update File",
          "webhookId": "7807fe16-db54-4c7d-936b-d61e7909061a",
          "credentials": {
            "githubApi": {
              "id": "vg6rOJdDc5Jg2q0f",
              "name": "GitHub account"
            }
          }
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "get",
            "owner": {
              "__rl": true,
              "value": "AndreffSantos",
              "mode": "name"
            },
            "repository": {
              "__rl": true,
              "value": "n8n_workflows",
              "mode": "list",
              "cachedResultName": "n8n_workflows",
              "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
            },
            "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
            "asBinaryProperty": false,
            "additionalParameters": {
              "reference": ""
            }
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            2320,
            368
          ],
          "id": "7a969272-493d-4a59-9cf0-b220ff06d121",
          "name": "Download File",
          "webhookId": "2627f6eb-e6f9-44d7-b943-508c8472f316",
          "credentials": {
            "githubApi": {
              "id": "vg6rOJdDc5Jg2q0f",
              "name": "GitHub account"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "loose",
                "version": 2
              },
              "conditions": [
                {
                  "id": "99923f83-9a4d-467e-830e-33d7449149fb",
                  "leftValue": "={{ $('Agg. to Array').item.json.github_file_names }}",
                  "rightValue": "={{ $json.github_file_name }}",
                  "operator": {
                    "type": "string",
                    "operation": "contains"
                  }
                }
              ],
              "combinator": "and"
            },
            "looseTypeValidation": true,
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.2,
          "position": [
            2080,
            368
          ],
          "id": "ab42f91d-d834-43ab-8972-c98564fcd76a",
          "name": "Found in github"
        },
        {
          "parameters": {
            "operation": "completion",
            "completionTitle": "No Update Detected",
            "completionMessage": "No change is detected.",
            "options": {}
          },
          "type": "n8n-nodes-base.form",
          "typeVersion": 1,
          "position": [
            2704,
            448
          ],
          "id": "153f0684-b1ed-4eec-98e4-7a500de2ba52",
          "name": "No update detected",
          "webhookId": "1014f819-d761-42f4-afbc-f3968ad7c44a"
        },
        {
          "parameters": {
            "operation": "get",
            "workflowId": {
              "__rl": true,
              "value": "={{ $json.id}}",
              "mode": "id"
            },
            "requestOptions": {}
          },
          "type": "n8n-nodes-base.n8n",
          "typeVersion": 1,
          "position": [
            1392,
            464
          ],
          "id": "b96096f2-7020-4dba-9cc2-87fffc31f2fb",
          "name": "Find by project id",
          "alwaysOutputData": false,
          "retryOnFail": false,
          "credentials": {
            "n8nApi": {
              "id": "WTUDPMjv8spQtuW2",
              "name": "n8n account"
            }
          },
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "aggregate": "aggregateAllItemData",
            "destinationFieldName": "values",
            "include": "specifiedFields",
            "fieldsToInclude": "id, name",
            "options": {}
          },
          "type": "n8n-nodes-base.aggregate",
          "typeVersion": 1,
          "position": [
            928,
            720
          ],
          "id": "f168b645-8b4b-4b9f-8e33-78a568e91882",
          "name": "Option aggregate"
        },
        {
          "parameters": {
            "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst all_projects = $('Option aggregate').first().json.values;\nconst nameToFind = $input.first().json['Select a project']; // Replace with the name you want to find\nconst found = all_projects.find(item => item.name === nameToFind);\nreturn [{ json: { id: found ? found.id : null } }];\n\n\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1168,
            592
          ],
          "id": "255d8221-f6c2-47bb-bdb8-3a8f84b35cac",
          "name": "Selected id"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "fffbcd0c-4f17-4634-a79e-33ff6fb213e7",
                  "name": "id",
                  "value": "={{ $('On form submission').item.json.formQueryParameters.id }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            944,
            272
          ],
          "id": "2b54f394-4fcc-49df-861b-5fd464aaafd9",
          "name": "Pass in id"
        },
        {
          "parameters": {
            "formTitle": "Commit workflow changes",
            "formDescription": "=Commit your workflow changes into Github",
            "options": {
              "appendAttribution": false,
              "buttonLabel": "Next",
              "path": "c4f5be11-23ba-4c44-a3e9-1b88fcb60cd6",
              "ignoreBots": true
            }
          },
          "type": "n8n-nodes-base.formTrigger",
          "typeVersion": 2.2,
          "position": [
            0,
            432
          ],
          "id": "0c9683b8-a8cc-45f6-9815-215382bffca4",
          "name": "On form submission",
          "webhookId": "c4f5be11-23ba-4c44-a3e9-1b88fcb60cd6"
        },
        {
          "parameters": {
            "content": "## Click [here](https://n8n.srv1312401.hstgr.cloud/form/c4f5be11-23ba-4c44-a3e9-1b88fcb60cd6) to commit change ",
            "height": 140,
            "width": 440,
            "color": 5
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            0,
            16
          ],
          "typeVersion": 1,
          "id": "f88b48b6-5cab-40d8-a375-fc2f9382a9ab",
          "name": "Sticky Note"
        },
        {
          "parameters": {
            "content": "## Get all files from Github",
            "height": 260,
            "width": 320,
            "color": 4
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            144,
            352
          ],
          "typeVersion": 1,
          "id": "82b10fc5-57ca-4965-9580-30348c63553b",
          "name": "Sticky Note1"
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "list",
            "owner": {
              "__rl": true,
              "value": "AndreffSantos",
              "mode": "list",
              "cachedResultName": "AndreffSantos",
              "cachedResultUrl": "https://github.com/AndreffSantos"
            },
            "repository": {
              "__rl": true,
              "value": "n8n_workflows",
              "mode": "list",
              "cachedResultName": "n8n_workflows",
              "cachedResultUrl": "https://github.com/AndreffSantos/n8n_workflows"
            }
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            160,
            432
          ],
          "id": "c177cfda-7289-412d-bafc-4fd3eb73f80d",
          "name": "GIthub get all",
          "webhookId": "171d0104-1b96-4953-bfb3-18821c7fd7d2",
          "alwaysOutputData": false,
          "credentials": {
            "githubApi": {
              "id": "vg6rOJdDc5Jg2q0f",
              "name": "GitHub account"
            }
          }
        },
        {
          "parameters": {
            "aggregate": "aggregateAllItemData",
            "destinationFieldName": "github_file_names",
            "include": "specifiedFields",
            "fieldsToInclude": "name",
            "options": {}
          },
          "type": "n8n-nodes-base.aggregate",
          "typeVersion": 1,
          "position": [
            320,
            432
          ],
          "id": "8b4eb1ca-acd8-448c-96c2-5d6f1f9fa3be",
          "name": "Agg. to Array"
        },
        {
          "parameters": {
            "content": "## With designated workflow id\nFrom form's GET argument",
            "height": 260,
            "width": 640
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            672,
            208
          ],
          "typeVersion": 1,
          "id": "53bb4b89-4ef4-4bf7-97bc-07b8dfb43699",
          "name": "Sticky Note2"
        },
        {
          "parameters": {
            "content": "## Without a designated workflow id\nFrom form's GET argument",
            "height": 360,
            "width": 640,
            "color": 6
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            672,
            528
          ],
          "typeVersion": 1,
          "id": "148d1280-0bd0-42a1-b675-28e517d369aa",
          "name": "Sticky Note3"
        },
        {
          "parameters": {
            "content": "## Prepare the latest workflow",
            "height": 440,
            "width": 660,
            "color": 2
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            1568,
            288
          ],
          "typeVersion": 1,
          "id": "c93111bc-9ef0-4dc7-bcbb-caab791ce7d4",
          "name": "Sticky Note4"
        },
        {
          "parameters": {
            "resource": "file",
            "owner": {
              "__rl": true,
              "value": "AndreffSantos",
              "mode": "list",
              "cachedResultName": "AndreffSantos",
              "cachedResultUrl": "https://github.com/AndreffSantos"
            },
            "repository": {
              "__rl": true,
              "value": "n8n_workflows",
              "mode": "list",
              "cachedResultName": "n8n_workflows",
              "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
            },
            "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
            "fileContent": "={{ $('To Base64').item.json.data }}",
            "commitMessage": "={{ $json['Commit comment'] }}"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1.1,
          "position": [
            2832,
            688
          ],
          "id": "9bda2b43-9595-4e99-b07e-51ae53a44e7a",
          "name": "Commit new workflow",
          "webhookId": "17c8a323-88d7-4475-a062-c217639b1a66",
          "credentials": {
            "githubApi": {
              "id": "vg6rOJdDc5Jg2q0f",
              "name": "GitHub account"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "id": "fd9b7654-3ec7-4e91-9607-9e0caabbffdf",
                  "leftValue": "={{ $json.content.replace(/\\n/g, '') }}",
                  "rightValue": "={{ $('To Base64').item.json.data }}",
                  "operator": {
                    "type": "string",
                    "operation": "notEquals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.2,
          "position": [
            2512,
            368
          ],
          "id": "44788fcc-d2e3-4e2e-bd1e-3fe663bd6f98",
          "name": "Check any update"
        },
        {
          "parameters": {
            "content": "## Update workflow if any",
            "height": 380,
            "width": 940,
            "color": 4
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            2288,
            208
          ],
          "typeVersion": 1,
          "id": "f46f34f3-5463-4f24-931a-5f83c63c00fa",
          "name": "Sticky Note5"
        },
        {
          "parameters": {
            "content": "## Commit new workflow",
            "height": 320,
            "width": 940,
            "color": 5
          },
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            2288,
            608
          ],
          "typeVersion": 1,
          "id": "173894bc-51e5-4a06-88cd-61e72d7baa45",
          "name": "Sticky Note6"
        },
        {
          "parameters": {
            "operation": "completion",
            "completionTitle": "Commit Successful",
            "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
            "options": {}
          },
          "type": "n8n-nodes-base.form",
          "typeVersion": 1,
          "position": [
            3008,
            272
          ],
          "id": "830cea6e-9fee-4bd2-856a-bc1962433bc6",
          "name": "Update successful",
          "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
        },
        {
          "parameters": {
            "operation": "completion",
            "completionTitle": "Commit Completed Successfully",
            "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
            "options": {}
          },
          "type": "n8n-nodes-base.form",
          "typeVersion": 1,
          "position": [
            3024,
            688
          ],
          "id": "458f4705-bce1-4767-8042-07f32df75e50",
          "name": "New Workflow Commit Successfully",
          "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
        },
        {
          "parameters": {
            "formFields": {
              "values": [
                {
                  "fieldLabel": "Commit comment",
                  "fieldType": "textarea",
                  "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
                  "requiredField": true
                }
              ]
            },
            "options": {
              "formTitle": "Commit workflow",
              "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}"
            }
          },
          "type": "n8n-nodes-base.form",
          "typeVersion": 1,
          "position": [
            2640,
            688
          ],
          "id": "f051f263-e81e-4552-b862-59e6ccd452f5",
          "name": "Comment for new workflow",
          "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
        },
        {
          "parameters": {
            "formFields": {
              "values": [
                {
                  "fieldLabel": "Commit comment",
                  "fieldType": "textarea",
                  "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
                  "requiredField": true
                }
              ]
            },
            "options": {
              "formTitle": "Commit workflow",
              "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}",
              "buttonLabel": "Submit"
            }
          },
          "type": "n8n-nodes-base.form",
          "typeVersion": 1,
          "position": [
            2688,
            272
          ],
          "id": "f1f20419-0887-48c4-a12f-c34eedf7b0b3",
          "name": "Comment for commit",
          "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
        }
      ],
      "connections": {
        "n8n": {
          "main": [
            [
              {
                "node": "Filter",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch": {
          "main": [
            [
              {
                "node": "Pass in id",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "n8n",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Filter": {
          "main": [
            [
              {
                "node": "Option aggregate",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Workflow Values": {
          "main": [
            [
              {
                "node": "Found in github",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Commit as New": {
          "main": [
            [
              {
                "node": "Is commit new",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Is commit new": {
          "main": [
            [
              {
                "node": "Comment for new workflow",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "JSON File": {
          "main": [
            [
              {
                "node": "To Base64",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "To Base64": {
          "main": [
            [
              {
                "node": "Workflow Values",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Download File": {
          "main": [
            [
              {
                "node": "Check any update",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Found in github": {
          "main": [
            [
              {
                "node": "Download File",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Commit as New",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Find by project id": {
          "main": [
            [
              {
                "node": "JSON File",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Project not found",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Form": {
          "main": [
            [
              {
                "node": "Selected id",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Option aggregate": {
          "main": [
            [
              {
                "node": "Form",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Selected id": {
          "main": [
            [
              {
                "node": "Find by project id",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Pass in id": {
          "main": [
            [
              {
                "node": "Find by project id",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "On form submission": {
          "main": [
            [
              {
                "node": "GIthub get all",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GIthub get all": {
          "main": [
            [
              {
                "node": "Agg. to Array",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Agg. to Array": {
          "main": [
            [
              {
                "node": "Switch",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Commit new workflow": {
          "main": [
            [
              {
                "node": "New Workflow Commit Successfully",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check any update": {
          "main": [
            [
              {
                "node": "Comment for commit",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No update detected",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Update File": {
          "main": [
            [
              {
                "node": "Update successful",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Comment for new workflow": {
          "main": [
            [
              {
                "node": "Commit new workflow",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Comment for commit": {
          "main": [
            [
              {
                "node": "Update File",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Andre Santos",
      "name": "Version 05b58043",
      "description": "",
      "autosaved": true,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-01-30T18:15:55.799Z",
          "id": 9,
          "workflowId": "A1YRG7GqFs7uSJ8aoVTpN",
          "versionId": "05b58043-00d5-48de-bf95-fc5ccaf31092",
          "event": "activated",
          "userId": "4e322802-0dbb-4561-96dc-cd99856363e7"
        }
      ]
    }
  }
]